body {
    font-family: 'Questrial', sans-serif;
  }
  
  a {
    text-decoration: none;
    color: #000000;
  }
  
  li {
    list-style-type: none;
  }
  
  /* CABEÇALHO E MENU */
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff3ca;
    padding: 15px 0;
    z-index: 10;
  }
  
  .header_menu {
    text-align: right;
  }
  
  .header_menu ul li {
    display: inline-block;
    margin-left: 20px;
    padding: 30px 0;
  }
  
  .header_menu ul li a {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #2b2b2b;
    font-weight: 700;
    padding: 10px 0;
  }
  
  .header_menu ul li a:hover {
    color: #c9b87d;
  }
  
  .spa_logo {
    width: 115%;
  }
  
  /* Conteúdo */

  .artigo{
    position: relative;
    top: 117px;  
    margin-bottom: 120px;
  }

  .artigo_titulo{
    background-color: #bda85e;
    height: 100%;
    padding: 35px 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }

  .artigo_texto{
    line-height: 25px;
    word-spacing: 5px;
    margin-left: 10%;
    padding: 50px 0;
  }

  .artigo_imagem{
    display: block;
    width: 40%; 
    margin: 50px auto 0;
  }

  .whatsapp{
    position: fixed;
    right: 120px;
    bottom: 50px;
    width: 7%;
  }

 /*Footer */
  footer {
    background-color: #fff3ca;                                                                                                              
  }
  
  .rodape{
    padding: 40px 0;
  }
  
  .footer_text {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 25px;
  }
  
  .footer_contato_title {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  
  .footer_redes_sociais li{
    display: inline-block;   
  }

  .criador{
    text-align: left;    
    color: #808080;
    margin-top: 150px;
    margin-left: 10px;
  }
  
  @media only screen and (min-width: 788px) and (max-width: 979px){
    .whatsapp{
      right: 10px;     
      width: 8%;
    }

    .spa_logo{      
      width: 130%;
    }

    .artigo{
      top: 108px;
    }
  }
  
  @media only screen and (max-width: 787px){
    .header{
      position: relative;
      padding: 0px 0px 15px 0px;
    }
  
    .header_menu{
      text-align: justify;
    }
    
    .spa_logo{
      display: block;
      margin: 10px auto;
      width: 40%;
    }
  
    .header_menu ul li{
      margin-left: 0;
      padding: 6px 0;
    }
  
    .header_menu ul li:last-child{
      margin-left: 90px;
    }

    .artigo{
      top: 0;
      margin: 0;
    }

    .artigo_titulo{
      font-size: 18px;
    }

    .artigo_imagem{
      width: 100%;
    }

    .artigo_texto{
      margin-left: 0;
      font-size: 14px;
      word-spacing: 2px;
    }
  
    .whatsapp {
      right: 1px;      
      width: 15%;
    }

    .footer_text{
      font-size: 14px;
    }

    .footer_contato_title{
      font-size: 16px;
      margin-top: 20px;
      font-weight: 700;
    }

    .footer_contato_items{
      font-size: 14px;
    }
  }