 
  /* Conteúdo */

  .artigo{
    position: relative;
    top: 117px;  
    margin-bottom: 120px;
  }

  .artigo_titulo{
    background-color: #bda85e;
    height: 100%;
    padding: 35px 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }

  .artigo_texto{
    line-height: 25px;
    word-spacing: 5px;
    margin-left: 10%;
    padding: 50px 0;
  }

  .artigo_imagem{
    display: block;
    width: 40%; 
    margin: 50px auto 0;
  }

  .whatsapp{
    position: fixed;
    right: 120px;
    bottom: 50px;
    width: 7%;
  }

 
  
  @media only screen and (min-width: 788px) and (max-width: 979px){
    .artigo{
      top: 108px;
    }
  }
  
  @media only screen and (max-width: 787px){
    
    .artigo{
      top: 0;
      margin: 0;
    }

    .artigo_titulo{
      font-size: 18px;
    }

    .artigo_imagem{
      width: 100%;
    }

    .artigo_texto{
      margin-left: 0;
      font-size: 14px;
      word-spacing: 2px;
    }  
    
  }